#required {
  font-size: small;
}

.background {
  background-image: url("https://cdn.pixabay.com/photo/2021/04/14/00/19/wood-6176923_1280.png");
  background-repeat: none;
  background-size: cover;
}

h1 {
  color: white;
  padding-top: 56px;
}

#lowerForm {
  margin-left: auto;
}

