<h1>Create Listing</h1>

<alert type="danger" *ngIf=noProduceName>
  Must select a valid <strong>Produce Type</strong>
</alert>

<alert type="danger" *ngIf=noProduceName>
  Must input a valid <strong>Variety</strong>
</alert>

<alert type="danger" *ngIf="!checkForCopy()">
  <strong>Cannot add a Duplicate</strong>
</alert>

<alert type="success" *ngIf=successfulAdd>
  Listing was successfully added!
</alert>

<form>

  Variety*<input type="text" name="varietyName" class="form-control" [(ngModel)]="varietyName">

  Description<input name="description" type="text" class="form-control" [(ngModel)]="newListing.description">
  Amount*<input name="amount" type="number" class="form-control" [(ngModel)]="newListing.amount">
  Grow Method<input name="growMethod" type="text" class="form-control" [(ngModel)]="newListing.growMethod"><br>

  <label>Produce Type*</label><br>
  <select name="produceId" [(ngModel)]="produceId">
    <option *ngFor="let produce of produces" value="{{produce.id}}">{{produce.name}}</option>
  </select><br><br>

  Pesticides<input name="pesticides" type="checkbox" [(ngModel)]="newListing.pesticides"><br>
  Fertilizers<input name="fertilizers" type="checkbox" [(ngModel)]="newListing.fertilizers"><br><br>
  <button
          [ngClass]="varietyName === '' || produceId <= 0 || newListing.amount <= 0
                                                                ? 'disabled' : 'enabled' "
          class="btn btn-outline-success"
          (click)="addGardenItem(checkForCopy())" >
    Create Listing
  </button>
</form>
<button class="btn btn-outline-primary" [routerLink]="['/privateProfile']">Back to Profile</button>

<br>
<div id='required'>* Required Field</div>

