#content {
  background-color: rgba(77, 175, 21, 0.8);
}

#filter-col {
  min-height: calc(100vh - 56px);
  margin: none;
  padding: 1rem;
  width: 100%;
}

#result-col {
  margin: none;
  padding: 0%;
  max-width: 100%;
}

.row {
  width: 100%;
}

.card {
  margin: 1rem;
  width: 90%;
}

.col-md-3 {
  padding-right: 0%;
}

agm-map {
  height: 15rem;
}

