<h1 class="display-1">CultivAid Home Page</h1>

<div class="card search-card">
  <div class="card-body">
    <H3>FIND FRESH PRODUCE NEAR YOU!</H3><br />
    <form #searchByZipForm="ngForm">
      <div class="input-group mb-3">
        <span class="input-group-text">Zip Code: </span>
        <input class="form-control" type="text" name="zip" ngModel />
        <span class="input-group-text">Radius (Miles): </span>
        <input class="form-control" type="text" name="distance" ngModel />
        <button
          name="submit"
          class="btn btn-outline-light"
          (click)="searchByZip(searchByZipForm)"
        >
          Search
        </button>
      </div>
    </form>
  </div>
</div>
