<h1 class="display-4">Create an account to get started </h1>
<form name="registerForm" >
  <label for="email" class="form-check-label">Email</label><input name="email" type="email" class="form-control" ngModel>
  <label for="username" class="form-check-label">Username</label><input type="text" name="username" class="form-control" ngModel>
  <label for="password" class="form-check-label">Password</label><input type="password" name ="password" class="form-control" ngModel>
  <label for="confirm" class="form-check-label">Confirm Password</label><input type="password" name="confirm" class="form-control" ngModel><br>
  <input class="btn btn-outline-success" value="Create Account">
  <!-- <input class="btn btn-outline-success" (click)="register(thisForm)" value="Create Account"> -->
</form>
