<div id="publicProfileBody">
<div class="container">
  <div class="row" id="topRowProfile">
    <div class="col-md-3">
      <img
        src="{{ user.imageUrl }}"
        alt="User Profile Image"
        id="publicImage"
      />
    </div>
    <div class="col-md-6">
      <div class="row text-center">
        <h1 class="display-3">{{ user.username }}</h1>
      </div>
      <div class="row text-center">
        <h1 class="display-5">Rating: {{rating | number:'1.1-2'}}</h1>
      </div>
      <div class="row">
      <button
        class="btn btn-dark"
        (click)="open(newMessageModal)"
      >
        Message
      </button>
    </div>
      <div [collapse]="isCollapsed" [isAnimated]="true">
        <div class="form-group">
          <label for="exampleFormControlTextarea1"></label>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
          ></textarea>
          <button class="btn btn-outline-dark">Send</button>
        </div>
      </div>
    </div>
    <div class="col-md-3 text-center">
      <agm-map [latitude]='lat' [longitude]='lng'>
        <agm-marker [latitude]='lat' [longitude]='lng'></agm-marker>
      </agm-map>
    </div>
  </div>
  <hr>
  <!-- ///////////////////////// EXCHANGE REQUEST FORM /////////////////////////// -->

  <!-- //////// NOTE: The click events and ngModels for the Exchange Request Form are not working.
                    Feel free to mess around with them.
                    Additional Info: The request body to add a form is a list of exhcnage items. /////////////////////////// -->

  <!-- <div>
    <form>
      <table class="table">
        <thead>
          <tr>
            <th>Add</th>
            <th>Garden Item</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of user.gardenItems; let i = index">
            <td>
              <input
                type="checkbox"
                name="exchangeItem + i"
                [(ngModel)]="exchangeData[i].checked"
              />
            </td>
            <td>{{ item.produce.name }}</td>
            <td>
              <input
                type="number"
                name="amount + i"
                [(ngModel)]="exchangeData[i].amount"
              />
              / {{ item.amount }}
            </td>
          </tr>
        </tbody>
        <button class="btn btn-dark" (click)="submitExchangeRequest()">
          Submit Request
        </button>
      </table>
    </form>
  </div> -->

  <!-- ///////////////////////////////// BASKET /////////////////////////////////////// -->
<div class="row">
  <div class="col-md-6">
  <div id="basket">
    <h1 class="display-5">Basket: </h1>
    <form>
      <table class="table">
        <thead>
          <tr>
            <th>Garden Item</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of user.gardenItems; let i = index">
              <td *ngIf="exchangeData[i].checked">{{item.produce.name}}</td>
              <td *ngIf="exchangeData[i].checked">{{exchangeData[i].amount}}</td>
          </tr>
        </tbody>
        <button class="btn btn-dark" (click)="submitExchangeRequest()">
          Submit Request
        </button>
      </table>
    </form>
  </div>
</div>

  <!-- ///////////////////////// GARDEN ITEM CARD INVENTORY /////////////////////////// -->
 <div class="col-md-6">
  <div class="recent-post-div">
    <ng-container class="card recent-post-card"
    *ngFor="let item of user.gardenItems; let i = index"
    >
    <div
      class="card recent-post-card"
      *ngIf="item.active"
      >
        <div class="row" id="details">
          <div class="col-md-2" id="imageCol">
            <img src="{{ item.produce.imageUrl }}" alt="" id="image" />
          </div>

          <div class="col-md-10" id="detailsCol">
            <div class="row" id="topRow">
              <div class="col-md-8" id="title">
                <h5>{{ item.produce.name }} -- {{ item.variety }}</h5>
              </div>
              <div class="col-md-4" id="grownBy">
                <Strong>Quantity: </Strong>
                <input
                min = "0"
                max = "{{item.amount}}"
                type="number"
                name="amount + i"
                [(ngModel)]="exchangeData[i].amount"
              />
              / {{ item.amount }}
              </div>
            </div>

            <div class="row" id="middleRow">
              <div class="col-md-12" id="description">
                {{ item.description }}
              </div>
            </div>

            <div class="row" id="bottomRow">
              <div class="col-md-8" id="amount">
                <span class="card-text" *ngIf="item.pesticides && item.produce.category.name != 'Dairy'"> <strong>Pesticides:</strong> Yes | </span>
                <span class="card-text" *ngIf="!item.pesticides && item.produce.category.name != 'Dairy'"> <strong>Pesticides:</strong> No | </span>
                <span class="card-text" *ngIf="item.fertilizers && item.produce.category.name != 'Dairy'"> <strong>Fertilizers:</strong> Yes</span>
                <span class="card-text" *ngIf="!item.fertilizers && item.produce.category.name != 'Dairy'"> <strong>Fertilizers:</strong> No</span>
              </div>
              <div class="col-md-4" id="addButton">
                <button class="btn btn-dark" (click)="exchangeData[i].checked = true" id="basketAdd">Add to basket</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    </div>
  </div>
  </div>

  <!-- ///////////////////////// REVIEWS /////////////////////////// -->

  <div class="row" id="reviews">
    <h1 class="row">Reviews:</h1>
    <div class="row">
      <div class="col-sm-3">Username</div>
      <div class="col-sm-1">Rating</div>
      <div class="col">Comment</div>
    </div>
    <div *ngFor="let exchange of userExchanges, let i = index">
      <div class="row border border-dark rounded" >
        <div class="col-sm-1"><img src="{{exchange.buyer.imageUrl}}" id="reviewImage"/> </div>
        <div class="col-sm-2">{{exchange.buyer.username}}</div>
        <div class="col-sm-1 text-left">{{exchange.rating}}</div>
        <div class="col-sm-6 text-left">{{exchange.buyerComment}}</div>
        <div class="col"><button class="btn btn-outline-dark" (click)="isReviewCollapsed[i] = !isReviewCollapsed[i]" [attr.aria-expanded]="!isReviewCollapsed[i]" aria-controls="collapseBasic">See Photos</button></div>
      </div>

      <div id="detailsDiv" class="row well bg-light text-dark" [collapse]="isReviewCollapsed[i]" [isAnimated]="true" >
        Show Photos Here {{exchange.exchangeImages.length}}
        <div class="row" *ngFor="let image of exchange.exchangeImages">
          <div class="col"><img src={{image.imageUrl}} height="128px" width="128px"/></div>
        </div>
      </div>

  </div>
</div>
</div>

<!-- /////////////////////////////////// NEW MESSAGE MODAL ////////////////////////////////////// -->
<ng-template #newMessageModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Message To: {{user.username}}</h4>
    <button type="button" class="btn btn-outline-dark" aria-label="Close" aria-hidden="true" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div id="newMessageForm">
      <form>
        <input type="hidden" name="receivingUser" class="form-control" value="{{user.username}}" [(ngModel)]="newMessage.receivingUser.username">
        <br><label for="subject" class="form-check-label">Subject: </label><input type="text" name="subject" class="form-control" [(ngModel)]="newMessage.subject">
        <label for="content" class="form-check-label">Message Body: </label>
        <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="4" [(ngModel)]="newMessage.content"></textarea>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="modal.close('Save click'); createMessage()">Send</button>
  </div>
</ng-template>

