<div class="container">
<h1 class="display-2">{{user.username}} Profile</h1>

<div class="row">
  <div class="col">
    <img width="100" height="100" src="{{user.imageUrl}}" alt="User Profile Image">
  </div>
  <div class="col">
    <h6>{{user.username}}</h6>
    <h6></h6>
    <button class="btn btn-outline-dark">Message</button>
  </div>
  <div class="col">
    <h1>MAP</h1>
  </div>
</div>

 <!-- ///////////////////////// EXCHANGE REQUEST FORM /////////////////////////// -->

 <!-- //////// NOTE: The click events and ngModels for the Exchange Request Form are not working.
                    Feel free to mess around with them.
                    Additional Info: The request body to add a form is a list of exhcnage items. /////////////////////////// -->

<div>
  <table class = "table">
    <thead>
      <tr>
        <th>Add</th>
        <th>Garden Item</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of user.gardenItems">
        <td><input type="checkbox" (click)="setExchangeItemId(item.id)" /></td>   //only add checked items to the request body
        <td>{{item.produce.name}}</td>
        <td><input type="number"/> / {{item.amount}} [(ngModel)]="exchangeItem.quantity"</td>   //specify the amount for each item in the request body
      </tr>
    </tbody>
    <button class="btn btn-success" (click)="submitExchangeRequest()">Submit Request</button>
  </table>
</div>

<!-- ///////////////////////// GARDEN ITEM CARD INVENTORY /////////////////////////// -->

<div class="card" style="width: 18rem;" *ngFor="let item of user.gardenItems">
  <!-- TODO: Change image url to produce image -->
  <img src="{{item.produce.imageUrl}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{item.produce.name}}</h5>
    <p class="card-text">{{item.description}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>
