  <div class="container-fluid">
    <div class="login-form">
      <h1 class="display-4">Login</h1> <br>

      <form name="loginForm" class="row g-3">


        <div class="col-md-12">
          <label for="username" class="form-check-label">Username</label
          ><input
            type="text"
            name="username"
            class="form-control"
            [(ngModel)]="loginUser.username"
          />
        </div>


        <div class="col-md-12">
          <label for="password" class="form-check-label">Password</label
          ><input
            type="password"
            name="password"
            class="form-control"
            [(ngModel)]="loginUser.password"
          />
        </div>

        <div class="col-md-12">
          <button class="btn btn-outline-light form-control" (click)="login(loginUser)">Login</button>
        </div>
        <div class="col-md-12" style="text-align: center;">
          New To CultivAid? <a href="" [routerLink]="'/register'">Create an Account</a>
        </div>

  </form>
</div>
</div>

